- print() -> Output
- input() -> Input

In [1]:
name= "Aditi Pandey"
city= "Lucknow"

In [2]:
print("Information about me:")
print(name)
print(city)

Information about me:
Aditi Pandey
Lucknow

In [3]:
print("Information about me:", name, city)

Information about me: Aditi Pandey Lucknow

In [7]:
print("I am", name, "and I live in city", city)

I am Aditi Pandey and I live in city Lucknow

#f means formatted string 
- these are special strings in python, where we prepend f before the opening quote

In [9]:
print(f"I am {name} and I live in city {city}")

I am Aditi Pandey and I live in city Lucknow

In [1]:
n1= "Aditi"
c1= "Lucknow"
n2, c2= "Akshat", "Kanpur"
n3, c3= "Anshooman", "Lucknow"
n4, c4= "Sia", "Lucknow"

In [4]:
print(f'{n1:15} {c1}')
print(f'{n2:15} {c2}')
print(f'{n3:15} {c3}')
print(f'{n4:15} {c4}')

Aditi           Lucknow
Akshat          Kanpur
Anshooman       Lucknow
Sia             Lucknow

In [5]:
print(f'{n1:>15} {c1}')
print(f'{n2:>15} {c2}')
print(f'{n3:>15} {c3}')
print(f'{n4:>15} {c4}')

          Aditi Lucknow
         Akshat Kanpur
      Anshooman Lucknow
            Sia Lucknow

In [6]:
print(f'{n1:^15} {c1}')
print(f'{n2:^15} {c2}')
print(f'{n3:^15} {c3}')
print(f'{n4:^15} {c4}')

     Aditi      Lucknow
    Akshat      Kanpur
   Anshooman    Lucknow
      Sia       Lucknow

In [10]:
print(n1,n2,n3,n4, sep='\t')

Aditi	Akshat	Anshooman	Sia

In [11]:
print(n1,n2,n3,n4, sep='\n')

Aditi
Akshat
Anshooman
Sia

In [13]:
print(n1,n2,n3,n4, sep=', ')

Aditi, Akshat, Anshooman, Sia