Loops 
- for loop 
- loop concepts 
    - break 
    - continue 
    - else 
    - enumerate 
    - zip 
- while loop 

for loop syntax


```
for temp_var in variable
    statement 1 
    statement 2
```

In [1]:
colors= ['red','green','yellow','blue','white','black']
for color in colors:
    print(color)

red
green
yellow
blue
white
black

In [2]:
for color in colors:
    size = len(color)
    print(f'{color:10}{size} chars')

red       3 chars
green     5 chars
yellow    6 chars
blue      4 chars
white     5 chars
black     5 chars

In [3]:
for color in colors:
    if 'e' in color:
        print(color)

red
green
yellow
blue
white

In [4]:
raw_data= ['Alex','','Arin','Charles','','Bella','','','Rose']
for name in raw_data:
    print(name)

Alex

Arin
Charles

Bella


Rose

In [5]:
for name in raw_data:
    if len(name)>0:
        print(name)

Alex
Arin
Charles
Bella
Rose

In [6]:
for name in raw_data:
    if not name:
        continue #continue is for skip blank
    print(name)

Alex
Arin
Charles
Bella
Rose

In [7]:
numbers = [2,26,58,74,56,89,52,65,88]
for i in numbers:
    if i % 2 != 0:
       break
    print(i)

2
26
58
74
56

In [8]:
raw_data= ['Alex','','Arin','Charles','','Bella','','','Rose']
roll_no = [2001,2002,2003,2004,'']

In [9]:
total = 1 
for i in numbers :
    total*=i
    print(total)

2
52
3016
223184
12498304
1112349056
57842150912
3759739809280
330857103216640

In [10]:
#for fianl value 
total = 1 
for i in numbers :
    total*=i
print(total)

330857103216640

In [11]:
msg = 'This is a simple message with few words'
#count the no. of spaces using loops
for char in msg:
    print(char)

T
h
i
s

i
s

a

s
i
m
p
l
e

m
e
s
s
a
g
e

w
i
t
h

f
e
w

w
o
r
d
s

In [14]:
msg = 'This is a simple message with few words'
#count the no. of spaces using loops
count = 0 
for char in msg:
    if char == ' ':
        count += 1
print(f'{count} spaces found')

7 spaces found

In [15]:
msg.count(' ')

7

In [16]:
books = ['the final empire','the well of ghost','the hero of ages']
for book in books:
    print(book)

the final empire
the well of ghost
the hero of ages

In [17]:
#worst way
idx = 0 
for book in books:
    print(f'{idx} {book}')
    idx += 1

0 the final empire
1 the well of ghost
2 the hero of ages

In [18]:
# better way
for i in range(len(books)) :

    print(f"{i} {books[i]}")

0 the final empire
1 the well of ghost
2 the hero of ages

In [19]:
#pythonic code 
for idx , book in enumerate (books):
    print(f"{idx} {book}")

0 the final empire
1 the well of ghost
2 the hero of ages

In [20]:
names = ['alex','Arin','Charles','Bella','Rose','charlie']

for i, name in enumerate (names):
    
    if i == 5: break
    print(name)

alex
Arin
Charles
Bella
Rose